@media screen and (min-width: 900px) {
       body {
              width: 99vw;
              font-size: 20px;
       }
       
       #karta {
                width: 45vw;
                padding: 25px;
       }

       #img {
              width: 40vw;
       }

       #prev, #next {
              height: 5vh;
       }

       #footer {
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
       }

       #footer >* {
               margin: 0px 5px 0px 5px;
               flex-grow: 1;
       }

}

@media screen and (orientation: landscape) {
  #img {
    width: auto;
    height: 45vh;
  }
}
